/* doxygen-dark.css */

/* General Styles */
body {
    background-color: #121212;
    color: #e0e0e0;
}

a {
    color: #80cbc4;
}

a:hover {
    color: #26a69a;
}

/* Header Styles */
div.header {
    background-color: #212121;
    color: #e0e0e0;
}

div.headertitle {
    color: #80cbc4;
}

/* Sidebar Styles */
div.sidebar {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

div.sidebar a {
    color: #80cbc4;
}

div.sidebar a:hover {
    color: #26a69a;
}

/* Main Content Styles */
div.contents {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

/* Footer Styles */
div.footer {
    background-color: #121212;
    color: #e0e0e0;
}

/* Code Block Styles */
pre.fragment {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

/* Table Styles */
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #424242;
    padding: 6px;
}

th {
    background-color: #424242;
    color: #e0e0e0;
}

/* Search Bar Styles */
div.search {
    background-color: #424242;
}

div.search input[type="text"] {
    background-color: #121212;
    color: #e0e0e0;
    border: 1px solid #424242;
}

/* Navigation Bar Styles */
div.topbar {
    background-color: #212121;
}

div.topbar a {
    color: #e0e0e0;
}

div.topbar a:hover {
    color: #80cbc4;
}

/* Footer Styles */
div.footer {
    background-color: #121212;
    color: #e0e0e0;
}

div.footer a {
    color: #80cbc4;
}

div.footer a:hover {
    color: #26a69a;
}

